# General
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# Environment Variables
.env

# Tooling
.ruff_cache/
.vscode/
.idea/

# Distribution / Packaging
dist/
build/
*.egg-info/
